[role=radio] {
    display: block;
    position: relative;
    margin: 0.5em;
    padding-left: 20px;
    border: thin transparent solid;
  }
  
  [role=radio]::before,
  [role=radio]::after {
    display: block;
    position: absolute;
    border-radius: 50%;
    content: '';
  }
  
  [role=radio]::before {
    top: 6px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    background: #fff;
  }
  
  [role=radio][aria-checked=true]::after {
    top: 8px;
    left: 2px;
    border: 5px solid #000;
    content: '';
  }
  
  #codeex{
    background-color: #F1F1F1 ;
    padding:10px;
  }