<form method="post" novalidate>
<!--    {% csrf_token %}-->
<!--    <input class="input_search" type="hidden" name="next" value="{{ next }}">-->
<!--    <input class="input_search" type="hidden" name="new_user" value="{{ False }}">-->
<input type="text" name="username" value="" class="uui-form-element my-2" id="username" placeholder="Login">
<input type="password" name="password" value="" class="uui-form-element my-2" id="password"
    placeholder="Password">
    <button type="submit" class=" uui-button blue w-100 mt-3">Log
        in</button>

</form>
